.navbar-container{
    width: 100%;
    height: 70px;
    background: black;
    position: sticky;
    top: 0;
}

.navbar{
    position: relative;
    max-width: 1024px;
    min-width: 328px;
    top: 0px;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

a{
    text-decoration: none;
}

.navigation-link{
    position: relative;
    background: red;
    height: 50px;

}

.navigation-link:hover{
    border-bottom: 2px solid;
    border-color: aqua;
    
}

.navigation{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-gap: 30px;
}

.navigation-button{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo{
    position: relative;
    background: red;
    height: 50px;
}

.logo-contents{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}